@import "../../../style/mixins.scss";

.container {
    @include flex(center, center);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--shadowBackground);
    animation: appear 0.2s;
    z-index: 1000;

    .button {
        @include button();
        position: absolute;
        top: 8%;
        right: 8%;
        height: 50px;
        width: 50px;
        padding: 10px;
    }

    .imageContainer {
        @include flex(center, center);
        height: 70%;
        width: 70%;

        img {
            max-height: 100%;
            border-radius: 15px;
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
