@import '../../../style/mixins.scss';

.DetailHeader {
  @include flex (space-between, flex-end);
  position: relative;
  width: 100%;
  border-bottom: solid var(--color7);
  margin-bottom: 10px;
  padding: 5px 0;
  flex-wrap: wrap;
  line-height: 2em;
  gap: 5px;

  .title {
    margin-right: 15px;
  }

  .buttons {
    @include flex (space-between, center);
    gap: 20px;
    
    .backButton {
      border-right: solid var(--color7);
      padding-right: 20px;
  
      button {
        @include button;
      }
    }

    button {
      @include button();
    }
    .btnDisabled {
      @include disabledButton;
    }
  }
}

@media screen and (max-width: 390px) {
  .DetailHeader {
    .title {
      padding: 5px 0;
    }

    .buttons {
      flex-direction: column;
      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      gap: 0;

      button {
        margin: 3px;
      }

      :nth-child(1) {
        order: 3;
        grid-column: span 2;
      }

      p {
        display: none;
      }
    }
  }
}