@import "../../style/mixins.scss";

.Card {
    height: 300px;
    width: 280px;
    position: relative;
    border: var(--containerBorder);
    box-shadow: var(--boxShadow);
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    text-decoration: none;

    .content {
        max-height: 100%;
        height: 100%;
        max-width: 100%;
        width: 100%;
        transition: filter 0.2s;
        overflow: hidden;
        transition: filter 0.2s;

        .icon {
            position: absolute;
            height: 50px;
            width: 50px;
        }

        .blurImgContainer {
            z-index: -10;
            width: 100%;
            height: 70%;
            max-height: 70%;
            position: absolute;
            @include flex(center, center);
            top: 0;
            filter: blur(5px);

            img {
                max-width: 100%;
            }
        }
        .imgContainer {
            @include flex(center, center);
            width: 100%;
            max-height: 70%;
            height: 70%;
            overflow: hidden;

            img {
                max-height: 100%;
            }
        }

        .Description {
            @include flex(center, stretch, column);
            background-color: var(--color5);
            height: 30%;
            user-select: none;

            div {
                @include flex(space-between, center, row);
                margin: 5px;
                border-radius: 100px;
                padding: 0 5px;
                background-color: var(--color4);

                h4 {
                    margin-right: 10px;
                }

                p {
                    max-width: 70%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    .content_on {
        @extend .content;
        filter: blur(3px);
    }

    .hoverContent {
        @include flex (space-between, center, column);
        padding: 25px;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transition: background-color 0.2s;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.2s, background-color 0.2s;

        .iconsContainer {
            @include flex(space-between, center);
            width: 100%;
            height: 45px;

            svg {
                height: 100%;
                width: 45px;
                color: var(--color4);
            }
        }

        .text {
            border-top: solid var(--color3) 1px;
            width: 70%;
            text-align: center;
            color: var(--color4);
            padding: 5px;
        }
    }
    .hoverContent:hover {
        background-color: rgba(0, 0, 0, 0.516);
        opacity: 1;
    }
}

@keyframes fav-loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 610px) {
    .Card {
        height: 260px;
        width: 240px;
    }
}

@media screen and (max-width: 525px) {
    .Card {
        height: 280px;
        width: 260px;
    }
}

@media screen and (max-width: 325px) {
    .Card {
        height: 260px;
        width: 240px;
    }
}
