@import "../../../style/mixins.scss";

.Container {
    @include flex(center, center);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--shadowBackground);
    z-index: 100;

    .ChangePassword {
        @include flex(center, stretch, column);
        animation: appear 0.5s;
        width: 95%;
        max-width: 400px;
        padding: 20px;
        gap: 25px;
        background-color: var(--color4);
        border-radius: 15px;
        border: var(--containerBorder);

        h2 {
            text-align: center;
            line-height: 1em;
        }

        .form {
            @include flex(center, stretch, column);
            gap: 25px;

            label {
                @include flex(center, center, column);

                input {
                    @include input;
                    height: 25px;
                    width: 100%;
                    max-width: 250px;
                }
            }
        }

        .buttons {
            @include flex(space-between, center);
            width: 95%;
            max-width: 210px;
            margin-top: 20px;
            align-self: center;

            button {
                @include button;
                padding: 5px 15px;
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
