@import '../../../style/mixins.scss';

.List {
    @include flex(flex-start, stretch, column);
    max-height: 90%;
    min-height: 90%;
    padding: 10px 15px;
    border-radius: 15px;
    gap: 10px;
    
    input {
        @include input;
        height: 25px;
        width: 80%;
        align-self: center;
    }

    section {
        @include flex(flex-start, stretch, column);
        overflow-y: scroll;
        background-color: transparent;
        flex: 1;
        gap: 5px;
        border-top: solid var(--color7) 1px;
        border-bottom: solid var(--color7) 1px;

        .item {
            @include button;
            position: relative;
            min-height: 30px;
            box-shadow: none;
            user-select: none;

            svg {
                height: 80%;
                position: absolute;
                right: 5%;
            }
        }
        .selected {
            background-color: var(--color7);
            color: var(--color4);
        }
    }
}

@media screen and (max-width: 1130px) {
    .List {
        flex-direction: row;
    }
}

@media screen and (max-width: 460px) {
    .List {
        flex-direction: column;
    }
}

@media screen and (max-width: 305px) {
    .List {
        height: auto;
        min-height: auto;

        section {
            min-height: 315px;
            max-height: 315px;
        }
    }
}