
@font-face {
  font-family: "Monsterrat";
  src: url("./../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Monsterrat Italic";
  src: url("./../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url("./../fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway Italic";
  src: url("./../fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}
