@import '../../style/mixins.scss';

.SearchBarContainer {
  @include flex (center, center);
  width: 70%;
  position: relative;

  input {
    @include input();
    padding-right: 35px;
    width: 100%;
  }

  svg {
    position: absolute;
    right: 2.5%;
    height: 80%;
    color: var(--color8);
  }
}

@media screen and (max-width: 900px) {
  .SearchBarContainer {
    width: 90%;
  }
}
