@import "../../style/mixins.scss";

.Profile {
    @include flex(flex-start, stretch, column);
    padding: 15px 35px;
    flex: 1;
}

@media screen and (max-width: 660px) {
    .Profile {
        padding: 0 15px;
    }
}