@import '../../../style/mixins.scss';

.FavCards {
  @include flex (center, center);
  flex: 1;
  gap: 30px;
  min-width: 100%;
  max-width: 100%;
  min-height: 650px;
  flex-wrap: wrap;
  transition: transform 0.2s;
}

@media screen and (max-width: 700px) {
  .FavCards {
    gap: 15px;
  }
}
