@import "../../../style/mixins.scss";

.Container {
    @include flex(flex-start, stretch, column);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--color4);
    z-index: 20;
    border-radius: 15px;
    padding: 20px;
    animation: appear 0.3s;

    h1 {
        @include flex(flex-start, center);
        width: 100%;
        border-bottom: solid var(--color7);
        height: 65px;
    }

    button {
        @include button();
        width: 90px;
        height: 35px;
        position: absolute;
        top: 5%;
        right: 5%;
    }

    .list {
        @include flex(space-evenly, stretch, column);
        gap: 10px;
        margin-top: 20px;
        flex: 1;
        padding: 10px;

        .item {
            @include flex(center, center);
            flex: 1;
            border-radius: 15px;
            background-color: var(--color4);
            position: relative;
            cursor: pointer;
            user-select: none;
            transition:
                background-color 0.2s,
                color 0.2s;

            svg {
                height: 30px;
                position: absolute;
                right: 5%;
            }

            &:hover {
                background-color: var(--color7);
                color: var(--color4);

                p {
                    color: var(--color4);
                }
            }
        }
    }

    
}

@keyframes appear {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
