@import "../../../style/mixins.scss";

.PendingDogs {
    @include flex(flex-start, center, column);
    gap: 20px;

    .buttons {
        @include flex (center, center);
        align-self: center;
        padding: 0px 25px;
        gap: 25px;
        height: 50px;
        border-bottom: solid var(--color7);
        position: relative;
        user-select: none;

        button {
            @include button;
        }

        svg {
            @include button;
            padding: 5px;
            position: absolute;
            height: 40px;
            width: 40px;
            left: -80px;
        }
        .animation {
            animation: refresh ease-in-out 0.3s;
        }
    }
}

@keyframes refresh {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 420px) {
    .PendingDogs {
        .buttons {
            gap: 0;
            width: 100%;
            justify-content: space-around;
            padding: 0;

            button {
                padding: 0px 10px;
                height: auto;
                min-height: 28px;
            }
        }
    }
}