@import "../../style//mixins.scss";

.Explore {
  @include flex(flex-start, center, column);
  flex: 1;
  animation: explore-animation;
  animation-duration: 0.2s;
  padding: 15px 35px;
}

@keyframes explore-animation {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 660px) {
  .Explore {
    padding: 0 15px;
  }
}

@media screen and (max-width: 300px) {
  .Explore {
    padding: 8px;
  }
}

